@charset "utf-8";

/* --------------------------------------------
	After Clears
----------------------------------------------- */

.clearfix:after, .cols:after, #header:after, #header .inner:after, #content:after, #footer:after
, #nav_main ul ul:after, .order_summary li:after, #bab:after, #bab_grid:after, .bab_item:after, #totals:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

/* --------------------------------------------
	Reset
----------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

.reset, .reset:not(.lazy) ul, .lazy > ul, .reset:not(.lazy) ol, .lazy > ol, .reset:not(.lazy) li, .lazy > li, .rc ul {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

/* --------------------------------------------
	Consistent Margins
----------------------------------------------- */

blockquote, .cell, .centre_object, cite, .cols, .content_area, dl, fieldset, .grid, hr, iframe, ol, p, .std_margin, table, ul, .rc
 {
	margin-bottom: 14px;
	margin-bottom: 1.4rem;
}

.half_margin {
	margin-bottom: 7px;
	margin-bottom: .4375rem;
}

.lg_margin, .section, .divider, .tiles.single_col > li {
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
}

.lg_margin_top {
	margin-top: 40px;
	margin-top: 2.5rem;
}

.lg_padding_l {
	padding-left: 22px;
}

.no_margin_b {
	margin-bottom: 0;
}

.sm_margin_b {
	margin-bottom: 5px;
	margin-bottom: .3125rem;
}

/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */

input[type="hidden"], .js_none, .no_col_2 #col_2, .reset:not(.lazy) li:before, .lazy > li:before, .rc li:before
 {
	display: none;
}

/* --------------------------------------------
	Font-Face Declarations
----------------------------------------------- */

/*
font-family: 'muliregular', sans-serif;
font-family: 'domineregular', serif;
font-family: 'dominebold', serif;
*/

@font-face {
	font-family: 'muliregular';
	src: url('../fonts/muli-regular-webfont.eot');
	src: url('../fonts/muli-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/muli-regular-webfont.woff') format('woff'),
		 url('../fonts/muli-regular-webfont.ttf') format('truetype'),
		 url('../fonts/muli-regular-webfont.svg#muliregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'domineregular';
	src: url('../fonts/domine-regular-webfont.eot');
	src: url('../fonts/domine-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/domine-regular-webfont.woff') format('woff'),
		 url('../fonts/domine-regular-webfont.ttf') format('truetype'),
		 url('../fonts/domine-regular-webfont.svg#domineregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'dominebold';
	src: url('../fonts/domine-bold-webfont.eot');
	src: url('../fonts/domine-bold-webfontd41d.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/domine-bold-webfont.woff') format('woff'),
		 url('../fonts/domine-bold-webfont.ttf') format('truetype'),
		 url('../fonts/domine-bold-webfont.svg#dominebold') format('svg');
	font-weight: normal;
	font-style: normal;
}

.domine_regular {
	font-family: 'domineregular', serif;
	font-weight: normal !important;
}

.domine_bold {
	font-family: 'dominebold', serif;
}

/* --------------------------------------------
	Hiddens
----------------------------------------------- */

.hidden, #print_logo
, #nav_main div {

	height: 1px !important;
	min-height: 0 !important;
	left: -999em !important;
	overflow: hidden !important;
	position: absolute !important;
	width: 1px !important;
}

/* --------------------------------------------
	Generic Classes
----------------------------------------------- */

.align_left {
	text-align: left !important;
}

.align_centre {
	text-align: center !important;
}

.align_right {
	text-align: right !important;
}

.align_justify {
	text-align: justify !important;
}

.block {
	display: block !important;
}

table.centre_object {
	display: table;
}

.clear {
	clear: both;
}

div.clear:not(.not_div) {
	font-size: 0;
	line-height: 0px;
	width: 100%;
}

.cols {
	min-height: 0;
}

.col:first-child, .col.swap {
	float: left;
}

.col, .col.swap:first-child {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: right;
	width: 50%;
}

.col.sub {
	width: 200px;
}

.col.main {
	width: 710px;
}

.col.checkout_sub:first-child {
	width: 360px;
}

.col.checkout_main {
	width: 500px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.inline {
	display: inline !important;
}

.inline_block {
	display: inline-block !important;
}

.invisible {
	visibility: hidden !important;
}

.visible {
	visibility: visible !important;
}

.no_mb {
	margin-bottom: 0 !important;
}

.no_wrap {
	white-space: nowrap;
}

.overflow_x {
	overflow-x: auto;
}

.slider li {
	display: none;
}

.slider li:first-child {
	display: block;
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

address {
	font-style: normal;
}

a span {
	cursor: pointer;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

img {
	-moz-force-broken-image-icon: 1;
	height: auto;
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
	vertical-align: bottom;
}

img.fixed {
	max-width: none;
}

a img, img[usemap] {
	border: 0;
}

object:focus {
	outline: none;
}

body sub, body sup {
	font-size: .5em;
}

b, strong {
	font-weight: bold;
}

.grid {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.cell {
	display: table-cell;
	margin-bottom: 0;
	padding-right: 20px;
	vertical-align: top;
}

.cell:not(.text) {
	text-align: center;
}

.cell:last-child {
	padding-right: 0;
}

.cell:first-child:not(.text) {
	text-align: left;
}

.cell:last-child:not(.text) {
	text-align: right;
}

.lowercase {
	text-transform: lowercase;
}

.normalcase {
	text-transform: none !important;
}

.menu li > a, .menu li > a span {
	display: inline-block;
}

.menu li > a, .menu li > a span {
	display: block;
}

.menu li > a:link, .menu li > a:visited {
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

/* --------------------------------------------
	Root Defaults
----------------------------------------------- */

html {
	background: #fff url(../images/html.jpg) repeat;
	border: 0;
	min-height: 100%;
	overflow-y: scroll;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	color: #fff;
	font-family: 'muliregular', sans-serif;
	line-height: 20px;
	line-height: 1.25rem;
	min-height: 100%;
}

.ie9 body, .vendor-ie-10 body {
	line-height: 1.3125rem; /* 1px mode than standard */
}

body * {
	font-size: 1em;
}

/* --------------------------------------------
	Simple Customisations
----------------------------------------------- */

a:link {
	color: #408dac;
	text-decoration: underline;
}

a:visited {
	color: #666;
	text-decoration: underline;
}

.feature {
	display: inline-block;
	position: relative;
	padding-right: 18px;
	text-decoration: none !important;
}

.feature:before, .feature:after {
	background: #418eac;
	content: '';
	display: inline-block;
	height: 1px;
	margin-top: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
	width: 9px;
}

.feature:after {
	margin-top: -2px;
	-ms-transform: rotate(25deg);
	-webkit-transform: rotate(25deg);
	transform: rotate(25deg);
}

acronym, abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

blockquote {
	background-color: #edece6;
	border-left: 3px solid #4f4c4d;
	padding: 10px 10px 1px 10px;
	padding: .625rem .625rem .0625rem .625rem;
}

.centre_object {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

cite {
	display: block;
	font-style: italic;
	margin-top: -10px;
	margin-top: -.625rem;
	text-align: right;
}

hr {
	background-color: #e0dfd5;
	border: 0;
	color: #e0dfd5;
	height: 1px;
}

.ltie8 hr {
	margin-bottom: 5px;
	margin-top: -5px;
}

iframe:not([width]) {
	width: 100%;
}

img.float_left {
	float: left;
	margin: 3px 10px 10px 0;
	margin: .1875rem .625rem .625rem 0;
}

img.float_right {
	float: right;
	margin: 3px 0 10px 10px;
	margin: .1875rem 0 .625rem .625rem;
}

img.border {
	border: 2px solid #312e1d;
}

.float_left + .content_area {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: #312e1d;
	font-weight: bold;
	line-height: normal;
}

h1, h2, .h1, .h2 {
	font-family: 'domineregular', serif;
	font-size: 34px;
	font-size: 2.125rem;
	text-shadow: 0 2px 3px rgba(126,117,80,.35);
}

h1, .h1 {
	margin: 19px 0 17px;
	margin: 1.1875rem 0 1.0625rem;
}

h2, .h2 {
	font-size: 26px;
	font-size: 1.625rem;
}

h1.inline_block + h2, .h1.inline_block + .h2 {
	margin-left: 13px;
	margin-left: .8125rem;
}

h2.inline_block + .cat_num, .h2.inline_block + .cat_num {
	display: inline-block;
	margin-left: 25px;
	margin-left: 1.5625rem;
}

h3, .h3 {
	font-size: 18px;
	font-size: 1.125rem;
}

h3.shadow, h4.shadow, h5.shadow, h6.shadow,
.h3.shadow, .h4.shadow, .h5.shadow, .h6.shadow {
	margin-bottom: 10px;
	margin-bottom: .625rem;
	text-shadow: 0 2px 3px rgba(126,117,80,.35); 
}

h4, .h4 {
	font-size: 16px;
	font-size: 1rem;
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

h5, .h5 {
	font-size: 14px;
	font-size: .875rem;
}

h6, .h6 {
}

.inconsistent_mt {
	margin-top: 3px;
	margin-top: .1875rem;
}

.vendor-webkit .inconsistent_mt {
	margin-top: 5px;
	margin-top: .3125rem;
}

.ml30 {
	margin-left: 30px;
}

.pull_out {
	margin-left: -10px;
	margin-right: -10px;
	width: 980px;
}

.pull_out.padding {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
}

.small {
	font-size: 14px;
	font-size: .875rem;
}

.w210 {
	width: 210px;
}

/* --------------------------------------------
	Lists
----------------------------------------------- */

ol, ul {
	list-style: none;
	margin-left: 40px;
}

ol.no_ml, ul.no_ml {
	margin-left: 21px;
}

ol {
	list-style-type: decimal;
}

ol.lower_alpha {
	list-style-type: lower-alpha;
}

ol.upper_alpha {
	list-style-type: upper-alpha;
}

ol.lower_roman {
	list-style-type: lower-roman;
}

ol.upper_roman {
	list-style-type: upper-roman;
}

.ltie8 ul {
	list-style-type: disc;
}

li > ol, li > ul {
	margin-top: 10px;
	margin-top: 1rem;
}

li {
	margin-bottom: 7px;
	margin-bottom: .7rem;
	position: relative;
}

.ltie8 li {
	position: static;
}

ul > li:before {
	background: #7e7450;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	content: '';
	display: inline-block;
	height: 5px;
	left: -18px;
	position: absolute;
	text-align: right;
	top: 8px;
	top: .5rem;
	width: 5px;
}

.ua-desktop-macintosh.vendor-mozilla ul > li:before, .ua-desktop-macintosh.vendor-opera ul > li:before {
	top: 7px;
	top: .4375rem;
}

dt, dd {
	display: inline;
}

dd:after {
	content: '\A';
	white-space: pre;
}

/* --------------------------------------------
	Tables
----------------------------------------------- */

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

td, th {
	background: #fff;
	padding: 3px 20px;
	padding: .1875rem 1.25rem;
	text-align: left;
	vertical-align: top;
}

.unstyled td, .unstyled th {
	background: none !important;
	border: 0 !important;
	color: #7e7450 !important; /* same as text colour */
	padding: 0 !important;
}

/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset {
	border: 0;
	min-height: 0;
}

::-webkit-search-decoration, ::-webkit-search-cancel-button, input:not(.spinner)::-webkit-outer-spin-button, input:not(.spinner)::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="search"] {
	-webkit-appearance: none;
}

::-webkit-input-placeholder {
	color: #7a932e;
}

:-moz-placeholder {
	color: #7a932e;
}

input.placeholder, textarea.placeholder {
	color: #7a932e;
}

a.btn, input[type="submit"], input.text, label, .label, p.legend, select, textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-family: 'muliregular', sans-serif;
	line-height: normal;
	vertical-align: top;
	width: 100%;
}

input.date_time {
	display: -webkit-inline-flex !important;
}

fieldset > .legend_h > h2 {
}

fieldset.parent > .legend_h > h2 {
}

.required {
}

fieldset.parent > .required {
}

.required em, label em {
	color: #c00;
	font-style: normal;
}

label em {
}

.f_row, .required {
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

.f_row > div {
	margin-top: 10px;
	margin-top: .625rem;
}

label, .label, p.legend {
	margin-bottom: 5px;
	margin-bottom: .3125rem;
}

fieldset .description, fieldset .optional {
	color: #888;
	display: block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: normal;
	margin-top: 3px;
	margin-top: .1875rem;
}

fieldset .optional {
	display: inline-block;
	vertical-align: top;
}

input.text, textarea, select {
	margin: 0;
}

input.text, textarea, html:not(.ua-android-browser) select {
	background: #f7f5f2;
	border: 1px solid #92c100;
	color: #7e7550;
	padding: 7px 5px 5px 5px;
}

input.white, textarea.white, html:not(.ua-android-browser) select.white {
	background: #fff;
}

[readonly] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background: transparent !important;
	border: 1px solid transparent !important;
}

input[type="submit"], input.text, textarea, select {
	font-size: 14px;
	font-size: .875rem;
}

select {
	-webkit-appearance: menulist;
	/* Padding around 1px less on t,r & b & 3px less on l */
}

.ua-desktop-macintosh.vendor-webkit select {
	/* height of normal inputs in rems */
}

label.auto, select.auto {
	width: auto !important;
}

textarea {
	height: 90px;
	height: 5.625rem;
	overflow: auto;
}

.rc input {
	margin: 2px 0 0 2px;
	margin: .125rem 0 0 .125rem;
	position: absolute;
}

.ie .rc input, .vendor-ie .rc input {
	margin: -1px 0 0 -2px;
	margin: -.0625rem 0 0 -.125rem;
}

.ua-android-browser .rc input {
	margin-top: -.125rem;
}

.ua-android-browser.ua-android-2 .rc input {
	margin-top: -.3125rem;
}

.rc label {
	font-weight: normal;
	padding-left: 23px;
	width: auto;
}

.rc label span {
	display: inline-block;
	width: 215px;
	width: 13.4375rem;
}

label em, .label em {
	right: -10px;
	right: -.625rem;
	position: absolute;
}

.f_row label, .f_row .label {
	margin-top: 5px;
	margin-top: .3125rem;
}

.f_row label, .f_row .label, p.legend {
	display: inline-block;
	margin-right: 3%;
	position: relative;
	width: 24%;
}

.f_row input + label {
	margin-left: 3%;
	width: auto;
}

.f_row input.text, .f_row textarea, .f_row select, .rc.legend ul, .f_row .no_wrap {
	display: inline-block;
	width: 73%;
}

.f_row label + input.text, .f_row label + textarea, .f_row label + select {
	margin-left: -5px;
	margin-left: -.3125rem;
}

.f_row .no_wrap {
	margin-left: -9px;
	margin-left: -.5625rem;
}

.f_row input.small {
	width: 70px;
	width: 4.375rem;
}

.f_row input.small_medium, .f_row textarea.small_medium {
	width: 150px;
	width: 9.375rem;
}

.f_row input.medium, .f_row textarea.medium {
	width: 200px;
	width: 12.5rem;
}

.f_row input.large, .f_row textarea.large {
	width: 300px;
	width: 18.75rem;
}

a.btn, input[type="submit"] {
	-webkit-appearance: none;
	background: #92c100;
	border: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	overflow: visible;
	padding: 7px 16px 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: auto;
}

html:not(.vendor-mozilla) input[type="submit"] {
	padding-top: 8px;
	padding-bottom: 6px;
}

a.checkout, input.checkout {
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	margin-left: 20px !important;
}

.btn.checkout, input[type="submit"].checkout,
.btn.alt, input[type="submit"].alt {
	background: #ffbf00;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIyOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZlNTk5IiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjZmZiZjAwIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIyOSkiIC8+PC9zdmc+);
	background: -moz-linear-gradient(top, #ffe599 0%, #ffbf00 100%);
	background: -webkit-linear-gradient(top, #ffe599 0%, #ffbf00 100%);
	background: linear-gradient(to bottom, #ffe599 0%, #ffbf00 100%);
	-pie-background: linear-gradient(top, #ffe599 0%, #ffbf00 100%);
	-webkit-border-radius: 11px;
	border-radius: 11px;
	color: #312e1d;
	padding-left: 22px;
	padding-right: 22px;
	text-shadow: 0 1px 2px #fff; 
}

.btn.alt, input[type="submit"].alt {
	background: #3f90af;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzIyOSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjNTliZGUyIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjM2Y5MGFmIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzIyOSkiIC8+PC9zdmc+);
	background: -moz-linear-gradient(top, #59bde2 0%, #3f90af 100%);
	background: -webkit-linear-gradient(top, #59bde2 0%, #3f90af 100%);
	background: linear-gradient(to bottom, #59bde2 0%, #3f90af 100%);
	-pie-background: linear-gradient(top, #59bde2 0%, #3f90af 100%);
	color: #fff;
	text-shadow: 0 1px 2px rgba(0,0,0,.65); 
}

input[type="submit"].alt {
	margin-left: 5px !important;
}

.btn.next, input[type="submit"].next {
	padding-left: 12px;
	padding-right: 12px;
}

/* --------------------------------------------
	Feature Slider
----------------------------------------------- */

#feature {
	position: relative;
}

.slider li {
}

.swipejs .slider li {
}

.nav {
	background: url(../images/sprite.png) 0 -49px;
	bottom: 0;
	height: 63px;
	left: 6px;
	margin-top: -32px;
	position: absolute;
	top: 50%;
	width: 45px;
	z-index: 30;
}

.nav.next {
	background-position: 0 -112px;
	left: auto;
	right: 6px;
}

.nav:hover {
	background-position: 0 -175px;
}

.nav.next:hover {
	background-position: 0 -238px;
}

.nav span {
	display: block;
	overflow: hidden;
	text-indent: -999em;
	width: 0;
}

.nav_pager {
	bottom: 10px;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.feature_slider .nav_pager li {
	background: #fff;
	background: rgba(255,255,255,.8);
	display: inline-block;
	padding: 10px 5px;
}

.feature_slider .nav_pager li:first-child {
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	padding-left: 10px;
}

.feature_slider .nav_pager li:last-child {
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	padding-right: 10px;
}

.nav_pager a {
	background: url(../images/sprite.png) 0 -301px;
	height: 21px;
	overflow: hidden;
	text-indent: -999em;
	width: 22px;
}

.nav_pager a:hover, .nav_pager a:focus {
	background-position: -22px -301px;
}

.nav_pager .current a {
	background-position: -44px -301px;
}

/* --------------------------------------------
	Site Specific
----------------------------------------------- */

#site {
	background: #fff;
	color: #7e7450;
	margin: 10px auto;
	padding: 10px 10px 0;
	width: 960px;
}

#site_name {
	float: left;
}

#site_name a, #site_name span {
	background: url(../images/logo.png);
	display: block;
	height: 124px;
	overflow: hidden;
	text-indent: -999em;
	width: 207px;
}

#header .inner {
	float: right;
	font-size: 14px;
	font-size: .875rem;
	min-height: 110px;
	min-height: 6.875rem;
	padding: 7px 0 14px;
	position: relative;
}

#quick_links {
	float: left;
}

#quick_links li {
	display: inline-block;
}

#quick_links li:after {
	color: #6fa9c0;
	content: '|';
}

#quick_links li:last-child:after {
	display: none;
}

#quick_links a {
	display: inline-block;
	padding: 6px 12px 6px 8px;	
	text-decoration: underline;
}

#nav_main {
	border: solid #dde9b9;
	border-width: 1px 0;
	font-size: 16px;
	font-size: 1rem;
}

#nav_main > ul {
	display: table;
	width: 100%;
}

#nav_main > ul > li {
	display: table-cell;
	position: relative;
}

#nav_main a {
	color: #3f90af;
}

#nav_main > ul > li > a {
	border: 1px solid;
	border-color: #c4d886 transparent;
	padding: 1px 2px;
	text-align: center;
}

#nav_main > ul > li > a span {
	padding: 8px 0;
}

/* Rest of navigation in individual version's CSS file */

#content {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.4;
	padding: 7px 0 15px;
}

#col_1 {
	float: left;
	width: 720px;
}

#col_2 {
	float: right;
	margin-top: 27px;
	margin-top: 1.6875rem;
	width: 210px;
}

.no_col_2 #col_1 {
	width: 100%;
}

#footer {
	font-size: 14px;
	font-size: .875rem;	
}

.row {
	border-bottom: 1px solid #92c100;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.row:first-child {
	border-top: 1px solid #92c100;
	padding-top: 15px;
}

#social {
	float: left;
	width: 64%;
}

#sign_up {
	float: right;
	width: 36%;
}

#sign_up input {
	display: inline-block;
	width: 70%;
}

#sign_up input[type="submit"] {
	margin-left: -4px;
	margin-left: -.25rem;
	width: 30%;
}

.vendor-ie #sign_up input[type="submit"], .vendor-mozilla.hwa  #sign_up input[type="submit"] {
	margin-left: -5px;
	margin-left: -.3125rem;
}

#nav_seo {
	float: left;
}

#nav_seo > li {
	float: left;
	width: 242px;
}

#nav_seo li li {
	margin-bottom: 3px;
}

#nav_seo + img {
	float: right;
	margin-right: 5px;
}

#copyright {
	background: #b0cb5e;
	color: #fff;
	margin-top: -16px;
	padding: 10px;
	position: relative;
	text-align: right;
}

#copyright:before, #copyright:after {
	background: -moz-repeating-linear-gradient(left, #d1e1a2 0, #d1e1a2 5px, #b0cb5e 6px, #b0cb5e 11px), #b0cb5e;
	background: -o-repeating-linear-gradient(left, #d1e1a2 0, #d1e1a2 5px, #b0cb5e 6px, #b0cb5e 11px), #b0cb5e;
	background: -webkit-repeating-linear-gradient(left, #d1e1a2 0, #d1e1a2 5px, #b0cb5e 6px, #b0cb5e 11px), #b0cb5e;
	background: repeating-linear-gradient(to right, #d1e1a2 0, #d1e1a2 5px, #b0cb5e 6px, #b0cb5e 11px), #b0cb5e;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	top: 5px;
}

#copyright:after {
	bottom: 5px;
	top: auto;
}

#copyright a {
	color: #fff;
	text-decoration: none;
}

#copyright a:hover, #copyright a:focus {
	text-decoration: underline;
}

#disclaimer {
	color: #999;
	font-size: 11px;
	font-size: .6875rem;
	line-height: 17px;
	margin: 0 auto 10px;
	width: 980px;
}

.overlay {
	background: #fff;
	background: rgba(255,255,255,.8);
	color: #7a932e;
	font-family: 'dominebold', serif;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 140%;
	margin: 0;
	padding: 3px 13px;
	padding: .1875rem .8125rem;
	position: absolute;
	top: 13px;
}

.overlay.large {
	font-size: 30px;
	font-size: 1.875rem;
}

.overlay.desc {
	bottom: 20px;
	font-size: 18px;
	font-size: 1.125rem;
	right: 0;
	text-align: center;
	top: auto;
}

.overlay .price {
	color: #3f90af;
	display: block;
	font-family: 'dominebold', serif;
	font-size: 24px;
	font-size: 1.5rem;
	margin: 7px 0;
	margin: .4375rem 0;
}

.overlay.price {
	bottom: 20px;
	color: #3f90af;
	font-family: 'dominebold', serif;
	font-size: 22px;
	font-size: 1.375rem;
	right: 0;
	top: auto;
}

.overlay.feature:before {
	display: none;
}

.overlay.feature:after {
	background: url(../images/sprite.png) 0 -322px !important;
	display: inline-block;
	position: static;
	height: 19px;
	margin: 0 0 0 15px;
	margin: 0 0 0 .9375rem;
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	width: 31px;
}

.title {
	border-bottom: 1px solid #92c100;
	-webkit-box-shadow: 0 1px 0 #b6f200;
	box-shadow: 0 1px 0 #b6f200;
	margin-bottom: 15px;
}

.title h2 {
	float: left;
	margin-bottom: 7px;
	margin-bottom: .4375rem;
	position: relative;
}

.title h2 + p {
	float: right;
	margin: 8px 0 0 0;
	margin: .5rem 0 0 0;
}

.tiles:not(.single_col) {
	display: table;
	margin-left: -26px;
	position: relative;
	width: 1012px;
}

.tiles > li {
	text-align: center;
}

.tiles:not(.single_col) > li {
	display: table-cell;
	vertical-align: top;
}

.tiles.x2 > li {
	width: 50%;
}

.tiles > li > a {
	display: inline-block;
	position: relative;
	text-decoration: none;
}

a.border {
	border: 2px solid #312e1d;
	display: inline-block;
}

.tile {
	display: block;
	position: relative;
}

.tile + .tile {
	margin-top: 46px;
}

.tiles h3 {
	color: #79922d;
	margin: 4px 0 6px;
	margin: .25rem 0 .375rem;
}

.tiles h3, .tiles h3 + p {
	max-width: 200px;
}

.tiles.x3 h3, .tiles.x3 h3 + p {
	max-width: 280px;
}

.tiles h3 + p {
	color: #3f90ad;
	font-weight: normal;
}

.tiles h3 + p:not(.h4) {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: bold;
}

.alert {
	height: 90px;
	position: absolute;
	right: -17px;
	top: -5px;
	width: 90px;
}

.alert span {
	color: #e4008b;
	display: block;
	font-family: 'dominebold', serif;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 77px;
	margin-left: -7px;
}

#breadcrumbs {
	font-size: 14px;
	font-size: .875rem;
}

#breadcrumbs li {
	display: inline-block;
	position: relative;
	padding-right: 14px;
}

#breadcrumbs li:last-child {
	padding-right: 0;
}

#breadcrumbs li:after {
	color: #3f90ad;
	content: '>';
	position: absolute;
	right: 0px;
	top: 0;
}

#breadcrumbs li:last-child:after {
	display: none;
}

#breadcrumbs a {
	text-decoration: underline;
}

.divider {
	background: #b0cb5e;
	color: #fff;
}

.divider h3, .divider h3 + p, .divider a {
	color: #fff;
	padding: 9px 0 10px;
}

.divider a {
	color: #fff;
	font-size: 14px;
	font-size: .875rem;
	text-decoration: none;
}

a.more {
	display: block;
	font-size: 18px;
	font-size: 1.125rem;
}

a.more:before, a.more:after {
	content: '--- ';
}

.accordion > li {
	margin-bottom: 1px;
}

.accordion > li:last-child {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.accordion > li > a {
	background: #b0cb5e;
	color: #fff;
	display: block;
	padding: 6px 7px 7px;
	padding: .375rem .4375rem .4375rem;
	text-decoration: none;
}

.accordion > li > a h3 {
	color: #fff;
	position: relative;
}

.js .accordion div {
	display: block;
	max-height: 0;
	overflow: hidden;
	-o-transition: max-height ease 0.1s;
	-webkit-transition: max-height ease 0.1s;
	transition: max-height ease 0.1s;
}

.js .accordion .open + div {
	display: block;
	max-height: 1100px;
	overflow: visible;
	padding: 9px 13px 1px;
	padding: .5625rem .8125rem .0625rem;
}

#print {
	text-align: right;
}

#print a:before {
	background: url(../images/sprite.png) -45px -322px;
	content: '';
	display: inline-block;
	height: 20px;
	margin-right: 10px;
	position: relative;
	text-align: right;
	top: 4px;
	top: .25rem;
	width: 16px;
}

.cat_num {
	font-size: 14px;
	font-size: .875rem;
}

#gallery {
	margin-top: 18px;
	margin-top: 1.125rem;
	width: 450px;
}

#gallery_thumbs {
	margin-top: 20px;
}

#gallery_thumbs li {
	float: left;
	margin-left: 23px;
	width: 70px;
}

#gallery_thumbs li:first-child {
	margin-left: 0;
	margin-right: 1px;
}

#gallery_thumbs li:last-child {
	margin-left: 28px;
}

a.question {
	text-decoration: none;
}

[data-tooltip].image_tooltip > span, [data-tooltip].image_tooltip img {
	display: block;
}

[data-tooltip] {
	display: block;
	position: relative;
	text-align: center;
}

[data-tooltip]:hover:before, [data-tooltip]:focus:before {
	background: #f9f9f9;
	border: 2px solid #a7bf5b;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	bottom: 35px;
	content: attr(data-tooltip);
	color: #312c1d;
	display: inline-block;
	font-size: 14px;
	font-size: .875rem;
	font-weight: normal;
	left: -4px;
	padding: 10px;
	position: absolute;
	text-align: left;
	width: 260px;
	z-index: 30;
}

[data-tooltip].image_tooltip:hover:before, [data-tooltip].image_tooltip:focus:before {
	bottom: 237px;
	left: -31px;
}

[data-tooltip].image_tooltip.two_line:hover:before, [data-tooltip].image_tooltip.two_line:focus:before {
	bottom: 257px;
}

[data-tooltip]:hover > span:after, [data-tooltip]:focus > span:after {
	background: url(../images/sprite.png) -45px -284px;
	content: '';
	height: 17px;
	left: 50%;
	margin: -17px 0 0 -13px;
	position: absolute;
	width: 26px;
	z-index: 31;
}

[data-tooltip].image_tooltip:hover > span:after, [data-tooltip].image_tooltip:focus > span:after {
	bottom: 222px;
}

[data-tooltip].image_tooltip.two_line:hover > span:after, [data-tooltip].image_tooltip.two_line:focus > span:after {
	bottom: 242px;
}

#checkout_steps {
	counter-reset: steps;
	font-size: 18px;
	font-size: 1.125rem;
}

#checkout_steps li {
	display: inline-block;
	color: #3f90ad;
	font-weight: bold;
	margin-right: 12px;
	margin-right: .75rem;
}

#checkout_steps .current {
	color: #79922c;
}

#checkout_steps li:before {
	content: counter(steps) '.';
	counter-increment: steps;
	display: inline-block;
	margin-right: 5px;
	margin-right: .3125rem;
}

.back {
	display: inline-block;
	font-size: 14px;
	font-size: .875rem;
	vertical-align: sub;
}

.order_summary, .order_summary h4 {
	font-size: 14px;
	font-size: .875rem;
	font-weight: normal;
}

.order_summary h4 {
	margin-bottom: 10px;
	margin-bottom: .625rem;
	overflow: hidden;
}

.order_summary h4 span {
	float: right;
}

.order_summary h4 span:first-child {
	float: left;
}

.order_summary .reset li {
	padding: 0 20px 20px 20px;
}

.order_summary .reset li:first-child {
	padding-top: 20px;
}

.order_summary img {
	margin-right: 20px;
	float: left;
}

.order_summary p {
	margin-bottom: 0;
}

.total_summary {
	border-bottom: 1px solid #dde9b9;
	border-top: 1px solid #c4d886;
	-webkit-box-shadow: 0 -1px 0 #dde9b9, 0 1px 0 #c4d886;
	box-shadow: 0 -1px 0 #dde9b9, 0 1px 0 #c4d886;
}

.total_summary.alt {
	font-size: 16px;
	font-size: 1rem;
}

.total_summary th {
	font-weight: normal;
}

.total_summary td {
	text-align: right;
}

.total_summary tbody, .order_summary + fieldset {
	border-bottom: 1px solid #c4d886;
	-webkit-box-shadow: 0 1px 0 #dde9b9;
	box-shadow: 0 1px 0 #dde9b9;
}

.total_summary tbody tr:first-child > th, .total_summary tbody tr:first-child > td {
	padding-top: 13px;
	padding-top: .8125rem;
}

.total_summary tbody tr:last-child > th, .total_summary tbody tr:last-child > td {
	padding-bottom: 13px;
	padding-bottom: .8125rem;
}

.total_summary tfoot {
	border-top: 1px solid #dde9b9;
}

.total_summary tfoot th, .total_summary tfoot td {
	padding-bottom: 5px;
	padding-bottom: .3125rem;
	padding-top: 9px;
	padding-top: .5625rem;
}

.order_summary + fieldset {
	padding-bottom: 10px;
	padding-bottom: .625rem;
}

#cboxLoadedContent {
	overflow: hidden;
}

.lightbox_content {
	position: relative;
}

.close_caption {
	border: 2px solid #7e7550;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	bottom: 40px;
	display: inline-block;
	height: 13px;
	overflow: hidden;
	position: absolute;
	right: 60px;
	text-indent: -999em;
	width: 13px;
}

.close_caption.alt {
	bottom: 0;
	margin-left: 7px;
	position: relative;
	right: auto;
	vertical-align: middle;
}

.close_caption:before, .close_caption:after {
	background: #7e7550;
	content: '';
	height: 15px;
	left: 5px;
	position: absolute;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: -1px;
	width: 2px;
}

.close_caption:after {
	left: 6px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close_caption.close {
	display: none;
}

.caption {
	background: #fff;
	background: rgba(255,255,255,.8);
	bottom: 0;
	color: #312c1d;
	font-size: 14px;
	font-size: .875rem;
	left: 90px;
	max-height: 100px;
	position: absolute;
	transition: max-height ease 0.5s;
	right: 90px;
}

.close_caption.close + .caption {
	max-height: 0;
	overflow: hidden;
}

.caption p {
	margin: 0;
	padding: 10px 15px 20px;
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#333;}
#colorbox{outline:0;}
    #cboxContent{margin-top:20px;background:#312e1d;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{border: solid #312e1d; border-width: 20px 100px 75px; background: #312e1d; overflow:hidden !important}
        #cboxTitle{position:absolute; bottom: 41px; left:0; color:#fff; font-size: 18px; font-size: 1.125rem; right: 0; text-align: center;}
        #cboxCurrent{position:absolute; bottom: 16px; left: 0; text-align: center; right:0px; color:#ccc; font-size: 16px; font-size: 1rem;}
        #cboxLoadingGraphic{background:url(../images/loader.gif) no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}
        
        #cboxSlideshow{position:absolute; top:-20px; right:90px; color:#fff;}
        
		#cboxPrevious, #cboxNext, #cboxPreviousDisabled, #cboxNextDisabled {
			background: #312e1d url(../images/sprite.png) 0 -49px;
			bottom: 0;
			height: 63px;
			left: 27px;
			margin-top: -32px;
			position: absolute;
			text-indent: -999em;
			top: 50%;
			width: 45px;
			z-index: 30;
		}
		
		#cboxPreviousDisabled {
			background-position: 0 -488px;
		}
		
		#cboxNext, #cboxNextDisabled {
			background-position: 0 -112px;
			left: auto;
			right: 27px;
		}
		
		#cboxNextDisabled {
			background-position: 0 -552px;
		}
		
        #cboxClose{
			border: 4px solid #7e7550;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			position:absolute; top:8px; right:8px; display:block; width:34px; height:34px; text-indent:-9999px; overflow: hidden;
		}
		#cboxClose:before, #cboxClose:after {
			background: #7e7550;
			content: '';
			height: 32px;
			left: 13px;
			position: absolute;
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			top: -1px;
			width: 4px;
		}
		
		#cboxClose:after {
			left: 9px;
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		
		#cboxPreviousLink, #cboxNextLink {
			bottom: 16px;
			color: #59bde0;
			font-size: 16px;
			font-size: 1rem;
			left: 328px;
			position: absolute;
			z-index: 2;
		}
		
		#cboxPreviousLink.disabled, #cboxNextLink.disabled {
			color: #7d744f;
			cursor: default;
			text-decoration: none;
		}
		
		#cboxNextLink {
			left: auto;
			right: 360px;
		}
		
		#cboxPreviousLink:before {
			content: '< ';
		}
		
		#cboxNextLink:after {
			content: ' >';
		}

#basket_empty {
	color: #7a932e;
	font-family: 'dominebold', serif;
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 140%;
}

#basket_contents h2 {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.basket_item legend {
	color: #79922c;
	font-weight: bold;
	margin-bottom: 10px;
	margin-bottom: .625rem;
}

.basket_item .price {
	float: left;
	margin-top: 5px;
	margin-top: .3125rem;
}

.basket_item label, .basket_item input.text {
	display: inline-block;
	vertical-align: baseline;
	width: auto;
}

.basket_item input.text {
	margin-left: 15px;
	text-align: center;
	width: 40px;
}

.upsell {
	margin: auto;
	width: 290px;
}

.upsell_h {
	margin-bottom: 20px;
	position: relative;
}

.upsell_h:after {
	background: #c4d886;
	bottom: -12px;
	box-shadow: 0 -1px 0 #dde9b9; 
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
}

.upsell img {
	margin-bottom: 4px;
	margin-bottom: .25rem;
}

.upsell h4 {
	color: #79922c;
}

.error {
	background: #ffff73;
	border: 1px solid #c00;
	color: #c00;
	font-weight: bold;
	padding: 5px 10px;
	padding: .3125rem .625rem;
}