input[type="range"] {
    -webkit-appearance: none;
    background-color: #f00984;
    height: 7px;
    width: 200px;
    padding-right: 5px;
    border: solid #f00984 2px;
}
 
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    top: -1px;
    z-index: 1;
    width: 30px;
    height: 30px;
    cursor:pointer;
 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));
}