@charset "UTF-8";

/* CSS Document                  */
/* Written by Chris Converse     */
/* for Lynda.com                 */


/* Rules for Internet Explorer 7 and 8 */

.video_gallery_container {
	height: 100%;
	padding-top: 20px;
}

a.videoLink div.caption {
	background-color: none;
	background-image: url(../images/ie_caption_transparency.png);
}
